.overlay-label {
    font-size: 10px;
    font-family: 'Avenir', 'helvetica', sans-serif;
    text-transform: uppercase;
}

article {
    margin: 4em 10em;
}

.last-name .overlay-border {
    border-color: green;
}
.last-name .overlay-label {
    background-color: green;
}

.advanced .overlay-border {
    background-color: #cddc39;
}

.example-overlay-content {
    height: 100%;
}


.moving {
    animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes grow {
    from {
        margin-top: 0px;
    }

    to {
        margin-top: 100px;
    }
}


.make-it-harder {
    transform: translateX(50px) translateY(50px) scale(0.7);
}
