<label>
  {{input type="checkbox" checked=stayOn}}
  Highlight Title
</label>

<label>
  {{input type="checkbox" checked=hoverable}}
  Hoverable
</label>

<article>
  <h1>{{#mark-overlay id="title" }}Ember Overlay Demo{{/mark-overlay}}</h1>
  <div class="byline">
    by
    {{#mark-overlay id="first-name" }}Edward{{/mark-overlay}}
    {{#mark-overlay id="last-name" }}Faulkner{{/mark-overlay}}
  </div>
</article>


{{#overlay-marks as |mark|}}
  {{show-overlay at=mark
                 hoverable=hoverable
                 label=(humanize mark.id)
                 class=mark.id
                 highlight=(and stayOn (eq mark.id "title")) }}
{{/overlay-marks}}