<label>
  {{input type="checkbox" checked=cycle}}
  Cycle
</label>

<label>
  {{input type="checkbox" checked=titleOnly}}
  Lock Title
</label>

<label>
  {{input type="checkbox" checked=hoverable}}
  Hoverable
</label>

{{outlet}}

{{#overlay-marks as |mark|}}
  {{#show-overlay at=mark
                  hoverable=hoverable
                  label=(humanize mark.id)
                  class=mark.id
                  onclick=(action "focusOn" mark.id)
                  dismiss=(action "focusOn" null)
                  focused=(eq mark.id focusedId)
                  highlighted=(eq mark.id highlightedId) }}
    {{#if (eq mark.id 'title')}}
      <div class="example-overlay-content">😎</div>
    {{/if}}
  {{/show-overlay}}
{{/overlay-marks}}