<p>

  {{!--

  `type` is required so that your marks don't collide with any other
  components in the same app that are also using marks & overlays.

  `id` lets you identify this mark later within an `overlay-marks` block.

  --}}

  Hello {{#mark-overlay id="world" type="demo"}}world{{/mark-overlay}}
</p>