<article>
  <h1>{{#mark-overlay id="title" }}Ember Overlay Demo{{/mark-overlay}}</h1>
  <div class="byline">
    by
    {{#mark-overlay id="first-name" }}Edward{{/mark-overlay}}
    {{#mark-overlay id="last-name" }}Faulkner{{/mark-overlay}}
  </div>
  {{#mark-overlay id="advanced"}}
  <ul>
    <li>When hoverable, your content is shielded behind the overlays and won't receive mouse events.</li>
    <li>When not hoverable, your content is accessible as normal, and overlays can only be revealed programmatically.</li>
    <li>You can style the overlays by targeting the <code>.overlay-border</code> and <code>.overlay-label</code> classes. See <code>tests/dummy/app/styles/app.css</code></li>
    <li>Addon authors can pass a <code>group</code> parameter to <code>mark-overlay</code> and <code>overlay-marks</code> to keep their overlays separate from the app or other addons.</li>
  </ul>
  {{/mark-overlay}}
</article>
